@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-image1 {
  background-image: url('/bck8.gif');
  background-size: cover; /* Makes the image cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.bg-image2 {
  background-image: url('/bck7.gif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.aboutPage {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.header h1 {
  font-size: 2.5rem;
  color: #2b579a;
}

.header p {
  font-size: 1.2rem;
  color: #555;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.paragraph h2 {
  font-size: 1.8rem;
  color: #2b579a;
  margin-bottom: 10px;
  
}

.paragraph p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.image {
  border-radius: 10px;
}

